<!DOCTYPE html>
<html lang="en" ng-app="moviesApp" data-bs-theme="dark">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="./lib/angular.min.js"></script>
    <script src="./lib/jstat.min.js"></script>
    <script src="./lib/jquery.min.js"></script>
    <script src="./lib/bootstrap.bundle.min.js"></script>
    <script src="./main.js"></script>
    <link rel="stylesheet" href="./styles/bootstrap.min.css" />
    <link rel="stylesheet" href="./styles/style.css" />
    <title>Document</title>
</head>

<body>
    <div ng-controller="moviesController" class="modal fade" id="data-test" tabindex="-1" aria-labelledby="selection"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-fullscreen">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="selection">Test Selection</h1>
                    <button type="button" ng-disabled="!isEnabled" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="tests" ng-switch="test.name">
                        <div id="test-types">
                            <input type="radio" class="btn-check" name="testName" id="z_test" value="z_test"
                                ng-model="test.name" autocomplete="off">
                            <label class="btn btn-outline-primary" for="z_test">Z-Test</label>
                            <input type="radio" class="btn-check" name="testName" id="ttest" value="ttest"
                                ng-model="test.name" autocomplete="off">
                            <label class="btn btn-outline-primary" for="ttest">T-Test</label>
                            <input type="radio" class="btn-check" name="testName" id="anova" value="anova"
                                ng-model="test.name" autocomplete="off">
                            <label class="btn btn-outline-primary" for="anova">Anova Test</label>
                        </div>
                        <div id="test-list" class="mt-4">
                            <div class="list" ng-switch-when="z_test">
                                <h4 class="mt-3">Available Tests</h4>
                                <input type="radio" class="btn-check" name="what" id="revenue" value="revenue"
                                    ng-model="test.what" autocomplete="off">
                                <label class="btn btn-outline-primary" for="revenue">Compare Revenue by
                                    Languages</label>
                                <input type="radio" class="btn-check" name="what" id="genre" value="genre"
                                    ng-model="test.what" autocomplete="off">
                                <label class="btn btn-outline-primary" for="genre">Compare Genre Popularity</label>
                            </div>
                        </div>
                        <div class="data-card mt-4 p-1" id="what" ng-switch="test.what">
                            <div class="row" ng-switch-when="revenue">
                                <h4 class="title">Revenues</h4>
                                <div for="lang" class="col-3" ng-repeat="(lang, revenue) in avg_data">
                                    <div class="card lang-card" data-st-lang="{{lang}}">
                                        <div class="card-header">
                                            {{lang}} Movies
                                        </div>
                                        <div class="card-body">
                                            <h6 class="card-title">Avgerage Revenue</h6>
                                            <h6 class="card-title fw-light"> {{revenue | currency}}</h6>
                                        </div>
                                    </div>
                                </div>
                                <h6 class="mt-4 mb-0">Selected {{selection.length}}/{{constants.ZCOUNT}}
                                </h6>
                            </div>
                            <div class="row" ng-switch-when="genre">
                                <h4 class="title">Popularity</h4>
                                <div for="lang" class="col-3" ng-repeat="(genre, popul) in avg_data">
                                    <div class="card genre-card" data-st-genre="{{genre}}">
                                        <div class="card-header">
                                            {{genre}} Movies
                                        </div>
                                        <div class="card-body">
                                            <h6 class="card-title">Popularity</h6>
                                            <h6 class="card-title fw-light"> {{popul}}</h6>
                                        </div>
                                    </div>
                                </div>
                                <h6 class="mt-4 mb-0">Selected {{ selection.length}}/{{constants.ZCOUNT}}
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-disabled="!isEnabled" ng-click="moveToRoot()">Save
                        changes</button>
                </div>
            </div>
        </div>
    </div>
    <div class="my-container" ng-controller="testController" ng-if="mode === 'test'">
        <button class="btn btn-outline-primary" id="fhyp-btn" ng-click="hypothesis()">Create Sample and Formulate Hypothesis</button>
        <div class="card shadow test-table mx-3" ng-if="name === 'z_test'">
            <div class="card-header fs-5">
                Z-Test - <span style="text-transform: capitalize;">{{what}}</span>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <div class="border p-3 rounded">
                            <h5 class="fw-light mb-3"><i class="bi bi-collection"></i> {{selection[0]}} Movies</h5>
                            <h6 class="fw-light ms-4">Average: {{means[selection[0]] | number:1 }}</h6>
                            <h6 class="fw-light ms-4">Deviation: {{stdevs[selection[0]] | number:1}} </h6>
                        </div>
                        <div class="border p-3 rounded mt-4">
                            <h5 class="fw-light mb-3"><i class="bi bi-collection"></i> {{selection[1]}} Movies</h5>
                            <h6 class="fw-light ms-4">Average: {{means[selection[1]] | number:1}}</h6>
                            <h6 class="fw-light ms-4">Deviation: {{stdevs[selection[1]] | number:1}}</h6>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="border p-3 rounded position-relative" style="height: 100%;">
                            <p>
                                <strong class="text-warning text-decoration-underline">Hypothesis</strong><span
                                    class="text-warning">:</span><br>
                                <span ng-if="what === 'revenue'">{{selection[0]}} and {{selection[1]}} Movies are
                                    generating same revenue over the world.</span>
                                <span ng-if="what === 'genre'">{{selection[0]}} and {{selection[1]}} Genres are quite
                                    equally popular.</span>
                            </p>
                            <p ng-if="tested">
                                <strong class="text-warning text-decoration-underline">Result</strong><span
                                class="text-warning">:</span><br>
                                <span>Z-Score equivalent P-Value {{pval | number:3 }}</span> <br>
                                <span class="text-danger" ng-if="pval < 0.05">The 'p' value is less than 0.05 hence we reject the
                                    hypothesis.</span>
                                <span class="text-success" ng-if="pval >= 0.05">The 'p' value is greater than 0.05 hence we accept the
                                    hypothesis.</span>
                            </p>
                            <button class="test-btn btn btn-outline-primary d-block mt-auto" ng-click="test()">Test</button>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>

</html>