@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");
@import url("./bootstrap-icons.css");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "JetBrains Mono";
}
#app {
  width: 100%;
}
.my-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  padding-top: 4.5rem;
}
.row {
  width: 100%;
}
.anova-card,
.lang-card,
.genre-card {
  cursor: pointer;
}

.lang-card.selected,
.lang-card.selected .card-header {
  border-color: #0d6efd;
}
.genre-card.selected,
.genre-card.selected .card-header {
  border-color: #0d6efd;
}
.field-card.selected,
.field-card.selected .card-header {
  border-color: #0d6efd;
}
.anova-card:not(:has(.row)),
.data-card:not(:has(.row)) {
  opacity: 0;
  visibility: hidden;
}
.data-card .row {
  row-gap: 1rem;
}

.test-btn {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
}
.text-danger {
  color: #e11d48 !important;
}
.text-success {
  color: #34d399 !important;
}
#fhyp-btn {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}
.text-capitalize{
  text-transform: capitalize;
}
.my-container #anova_data{
  height: calc(100vh - 5rem);
}
.my-container #anova_data .card-body{
  height: calc(100% - 60px);
}
.my-container #anova_data .card-body .row{
  height: 100%;
}
.my-container #anova_data .card-body .row .col-6:first-child{
  height: 100%;
  overflow-y: auto;
  padding-block-end: 1rem;
}
/* @media screen and (max-width: 1160px) {
  .card-header {
    height: 42px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
  }
} */